---
import "../css/fonts.css";
import "../css/variables.css";
import "../css/style.css";
import Navigation from "../components/Navigation.astro";
import Navigation2 from "../components/Navigation2.astro";
import Footer from "../components/Footer.astro";
import Newfooter from "../components/Newfooter.astro";

import labrador from "../assets/images/labrador.jpg";
import cat from "../assets/images/cat.jpg";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <script
      src="https://kit.fontawesome.com/506e46f956.js"
      crossorigin="anonymous"></script>
    <title>Astro</title>
  </head>
  <body>
    <Navigation2 />

    <h3 class="headline-xl">About us</h3>
    <section class="wrapper">
      <div class="">
        <h2 class="headline-l">Small Start-up</h2>
      </div>
      <p class="paragraph">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam vero quo
        officiis aliquam quis eaque sequi accusantium
      </p>
    </section>
    <section class="wrapper">
      <p class="paragraph">
        Fluffboi: Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam vero quo
        officiis aliquam quis eaque sequi accusantium, necessitatibus dicta
        quidem fugit impedit nam quas reprehenderit maiores adipisci repudiandae
        optio culpa?
      </p>
      <div class="test">
        <img src={labrador.src} />
      </div>
    </section>
    <section class="wrapper">
      <div class="test">
        <img src={cat.src} class="cat"/>
      </div>
      <p class="paragraph">
        Dr. Williams:
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam vero quo
        officiis aliquam quis eaque sequi accusantium, necessitatibus dicta
        quidem fugit impedit nam quas reprehenderit maiores adipisci repudiandae
        optio culpa?
      </p>

    </section>
  </body>
</html>

<Footer />
<Newfooter />

<style>
  body {
    background-color: var(--bg-color);
  }

  .wrapper {
    display: flex;
    justify-content: center;
    margin: 20px 0;

    /* border: 1px red solid; */
  }

  .test {
    width: 200px;
    height: 200px;
    background-color: black;
    color: white;
  }

.cat{
  width: 200px;
  height: 200px;
  background-size: ;
}

  p {
    width: 50%;
    padding: 20px;
  }
</style>
