---
import Navigation2 from "../components/Navigation2.astro";
---

<body>
    <Navigation2 />
    <section>
        <div class="layout-left"></div>
        <div class="layout-right"></div>
    </section>
</body>

<style>
    .layout-left{
        width: 50%;
    }

    .layout-right{
        width: 50%;
        background-color: var(bg-grey);;
    }
</style>