---
import '../css/fonts.css'
import '../css/style.css'
import '../css/variables.css'

import test from '../assets/images/test.jpeg'

import Navigation from '../components/Navigation.astro'
import Navigation2 from '../components/Navigation2.astro'
import Footer from '../components/Footer.astro'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<!-- <Navigation /> -->
		<Navigation2 />
		<h1 class="headline-xl">eCommerz</h1>
		<h3 class="headline-l">Hello World</h3>
		<p class="headline-m">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto, odit assumenda esse suscipit porro a aliquam inventore velit quibusdam dolor praesentium sit atque magni tempore saepe est deserunt ratione autem!
		</p>
		
		<img src={test.src} alt="">
		<Footer />
	</body>
</html>

<style>
	a{
		color: var(--blue);
		text-decoration: underline;
	}
</style>
