---
import '../css/fonts.css'
import '../css/style.css'
import '../css/variables.css'

import test from '../assets/images/test.jpeg'

import Navigation from '../components/Navigation.astro'
import Navigation2 from '../components/Navigation2.astro'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<Navigation />
		<Navigation2 />
		<h1 class="headline-xl">Hello World</h1>
		<a href="/aboutMe">Zur About me Seite</a>
		<img src={test.src} alt="">
	</body>
</html>

<style>
	a{
		color: var(--blue);
		text-decoration: underline;
	}
</style>
