---
import "../css/fonts.css";
import "../css/style.css";
import "../css/variables.css";
/* import "../css/responsive.css"; */

import test from "../assets/images/test.jpeg";
import kueste from "../assets/images/kuestenlandschaft.jpg";
import chip from "../assets/images/chip.jpg";
import birne from "../assets/images/sunset.jpg";
import black from "../assets/images/black.jpg";

import Navigation from "../components/Navigation.astro";
import Navigation2 from "../components/Navigation2.astro";
import Footer from "../components/Footer.astro";
import Card from "../components/Card.astro";
import Newfooter from "../components/Newfooter.astro";
import Area from "../components/Area.astro";
import Mainlayout from "../components/Mainlayout.astro"
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
    <script
      src="https://kit.fontawesome.com/506e46f956.js"
      crossorigin="anonymous"></script>
  </head>
  <body>
    <!-- <Navigation /> -->
    <Navigation2 />
    <div class="landing-page-image">
      <!-- <img src={kueste.src} alt=""> -->
      <!-- <img src={chip.src} alt="" /> -->
      <h1 class="headline-xl">Who knows?</h1>
    </div>
    <!-- <Mainlayout /> -->
    <section class="main-layout">
      <h3 class="headline-l">Hello World #617</h3>

      <p class="paragraph">
        "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto,
        odit assumenda esse suscipit
        autem!"
      </p>

      <!-- <img src={test.src} alt="" /> -->
    </section>
    <Area />

    <Footer />
    <Newfooter />
  </body>
</html>

<style>
 h1{
  color: white;
  
} 

h3{
  margin-top: 35px;
}


/* body{
  background-image: url(../assets/images/black.jpg);
        height: 40vh;
        object-fit: contain ;
        filter: grayscale(50%);

        /* height: 50vh; */
        /* margin-top: 5%;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
}   */

 .landing-page-image {
         background-image: url(../assets/images/black.jpg);
        height: 40vh;
        object-fit: contain ;
        filter: grayscale(50%);

        /* height: 50vh; */
        margin-top: 5%;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px; 
      }

  .paragraph{
    font-style: italic;
    margin-bottom: 35px ;
  }
</style>
