---

---

<section class="area">
    <div class="fake-grid corners">
      <!-- <img src={kueste.src} alt="" /> -->
      <i class="fa-solid fa-cloud-arrow-up"></i>
      <h3>First</h3>
      <p class="landing-page-para">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis,
        ad! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus ad
        qui ex neque placeat nemo nesciunt at animi recusandae fugit!
      </p>
      <button>more</button>
    </div>
    <div class="fake-grid corners">
      <i class="fa-solid fa-gamepad"></i>
      <h3>Second</h3>
      <p class="landing-page-para">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis,
        ad! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus ad
        qui ex neque placeat nemo nesciunt at animi recusandae fugit!
      </p>
      <button>more</button>
    </div>
    <div class="fake-grid corners">
      <i class="fa-solid fa-compass landingpage-icons"></i>
      <h3>Third</h3>
      <p class="landing-page-para">
        "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis,
        ad! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus ad
        qui ex neque placeat nemo nesciunt at animi recusandae fugit!""
      </p>
      <button>more</button>
    </div>
  </section>

  <style>
    /* MEDIA QUERIES */
    /* 425PX - MOBILE */

    @media (min-width: 425px) {
      body {
        background-color: var(--bg-color);
        width: 100%;
      }

      

      img {
        z-index: -1;

        border: 15px 0;
      }

      h1 {
        position: relative;
        top: 250px;
        color: white;
      }

      .main-layout {
        padding: 2rem;
        height: 50vh;
      }

   

      button {
        align-self: center;
      }

      h1 {
        position: absolute;
        bottom: 0;
        left: 35%;
      }
      */ a {
        color: var(--blue);
        text-decoration: underline;
      }

/* section mit 3 elemente */



    }

    /* 768PX - MOBILE */

    @media (min-width: 768px) {
      body {
        background-color: var(--bg-color);
        width: 100%;
      }

      .landing-page-image {
        background-image: url(../assets/images/chip.jpg);
        object-fit: contain;
        filter: grayscale(50%);

        height: 50vh;
        margin-top: 5%;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
      }

      img {
        z-index: -1;

        border: 15px 0;
      }

      h1 {
        position: relative;
        text-align: center;
        color: white;
      }

      .main-layout {
        padding: 2rem;
        height: 50vh;
      }

      .paragraph {
        font-style: italic;
      }

      button {
        display: none;
      }

      h1 {
        position: absolute;
        bottom: 0;
        left: 35%;
      }
      a {
        color: var(--blue);
        text-decoration: underline;
      }
      /* LOGOOOOOOOOs */
      .fa-solid,
      .fa-compass .fa-gamepad .fa-cloud-arrow-up {
        font-size: 3rem;
        color: var(--primary);
      }

      .area {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 15px;

        text-align: center;
        height: 50vh;
      }

      .fake-grid {
        display: flex;
        flex-direction: column;
        flex: 1;
        justify-content: space-evenly;

        background-color: rgb(203, 203, 203);

        margin-top: 20px;
        margin-bottom: 20px;
        padding: 15px;
        width: 33%;
        height: 100%;
      }

      .corners {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
      }



    }

    @media (min-width: 1024px) {
      body {
        background-color: var(--bg-color);
        width: 100%;
      }

      .landing-page-image {
        background-image: url(../assets/images/chip.jpg);
        object-fit: contain;
        filter: grayscale(50%);

        height: 50vh;
        margin-top: 5%;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
      }

      img {
        z-index: -1;

        border: 15px 0;
      }

      h1 {
        position: relative;
        text-align: center;
        color: white;
      }

      .main-layout {
        padding: 2rem;
        height: 50vh;
      }

      .paragraph {
        font-style: italic;
      }

      button {
        align-self: center;
      }

      h1 {
        position: absolute;
        top: 30;
        left: 50;
      }
      a {
        color: var(--blue);
        text-decoration: underline;
      }

      /*section mit 3 elemente */
      .area {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 15px;

        text-align: center;
        height: 50vh;
      }

      .fake-grid {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        background-color: rgb(203, 203, 203);

        margin-top: 20px;
        margin-bottom: 20px;
        padding: 15px;
        width: 33%;
        height: 100%;
      }

      .corners {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
      }

      .fa-solid,
      .fa-compass .fa-gamepad .fa-cloud-arrow-up {
        font-size: 6rem;
        color: var(--primary);
      }
    }
  </style>