---
import cardPic from "../assets/images/chip.jpg";
---

<section>
  <img src={cardPic.src} alt="" />
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt amet, deserunt
    ratione earum aperiam nesciunt explicabo ut, consectetur tenetur voluptate
    beatae facilis eum quae repudiandae voluptas harum recusandae omnis ducimus.
  </p>

  <button><a href="">more</a><i></i></button>
</section>

<style>
  section {
    margin: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 350px;
    height: auto;

    background-color: rgb(195, 195, 195);
    border-radius: 31px;
    /* border: 5px green solid; */
  }

  img {
    object-fit: contain;
    height: 10%;

    border-radius: 31px 31px 0 0;
  }

  p {
    text-align: left;
    text-overflow: ellipsis;
  }

  button {
    align-self: flex-end;
  }
</style>
