---
import "../css/responsive.css";

import kueste from "../assets/images/kuestenlandschaft.jpg";
import details from "../pages/details.astro";

const { title, imageSrc, detailCard } = Astro.props;
---

<section class="card-layout">
  <img src={imageSrc} alt="" />
  <h3>{title}</h3>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt amet, deserunt
    ratione earum aperiam nesciunt explicabo ut, consectetur tenetur voluptate
    beatae facilis eum quae repudiandae voluptas harum recusandae omnis ducimus.
  </p>

  <button>
    <a href={detailCard}>more</a><i class="fa-solid fa-arrow-right"></i>
  </button>
</section>

<style>
  .simulant {
    width: 200px;
    height: 100px;
    background-color: aqua;
    border-radius: 20px;
  }

  .card-layout {
    border: 1px solid black;

    margin: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 350px;
    height: auto;

    /*  background-color: rgb(195, 195, 195); */
    border-radius: 15px;
    /* border: 5px green solid; */
  }

  img {
    object-fit: cover;
    height: 100%;

    width: auto;
    height: 200px;

    border-radius: 15px 15px 0 0;
  }

  p {
    text-align: left;

    text-overflow: ellipsis;
    overflow: hidden;
    /* white-space: nowrap; */

    padding: 10px;
  }

  button {
    align-self: flex-end;
  }

  i {
    padding: 5px;
  }
</style>
