---

---

<footer>
  <section>
    <ul>
      <div class="social-media">
        <li class="linkedin"><a href="/"><i class="fa-brands fa-linkedin"></i>linkedIn</a></li>
        <li class="instagram"><a href="/"><i class="fa-brands fa-instagram"></i></a>Instagram</li>
        <li class="whatsapp"><a href="/"><i class="fa-brands fa-whatsapp"></i></a>Whatsapp</li>
      </div>
    </ul>
  </section>
<!--   <ul>
    <section>
      <div class="nav">
        <li><a href="/">Home</a></li>
        <li><a href="/inventory">Inventory</a></li>
        <li><a href="/aboutMe">About</a></li>
        <li><a href="/contact">Contact</a></li>
      </div>
    </section>
  </ul> -->
</footer>

<style>
  footer {
    background-color: var(--primary);
/*     position: fixed;
 */    bottom: 0;
    right: 0;
    left: 0;
    width: 100vw;
    height: 100px;
  }

  img {
    width: 10rem;
    object-fit: contain;
  }

  ul {
    list-style-type: none;
    margin: 0 15px;
  }

  .social-media {
    /* border: 1px red solid; */
    display: flex;
    justify-content: center;
  }

  .nav {
    display: flex;
    justify-content: center;
    align-items: end;
  }

  li {
    padding: 10px 15px;
    font-family: "Montserrat_Alternates";
    color: var(--highlight);
  }
  
</style>
