---

---

<footer>
    <ul>
        <div class="links">
            <li><a href="/">Home</a></li>
            <li><a href="/aboutMe">About</a></li>
            <li><a href="">Home</a></li>
        </div>
    </ul>
</footer>

<style>
  footer {
    background-color: var(--primary);
    position: fixed;
    bottom: 0;
    width: 100%;
    
    

    
  }

  img {
    width: 10rem;
    object-fit: contain;
  }

  ul {
    list-style-type: none;
    margin: 0 15px;
    
    
  }

  .links{
    display: flex;
    justify-content: end;
  }

  li {
    padding: 10px 15px;
    font-family: "Montserrat_Alternates";
    color: var(--highlight);

    
    
  }
</style>
