---
const{title, image}=Astro.props
---

<section class="about">
    <img class="about-img" src={image} alt="" />
    <div class="landing-page-text-container">
      <h3>{title}</h3>
      <p>Lorem ipsum dolor sit amet.</p>
    </div>
  </section>