---

---

<nav>
    <ul>
        <li>Home</li>
        <li>Kontakt</li>
        <li></li>
    </ul>
</nav>

<style>
    nav{
        background-color: var(--blue);
    }

    ul{
        list-style-type: none;
        display: flex;
        margin: 0 15px;
    }

    li{
        padding: 10px 15px;
    }
</style>