---

---

<nav>
  <ul>
    <div class="links">
      <li><a href="/">Home</a></li>
      <li><a href="/inventory">Inventory</a></li>
      <li><a href="/aboutMe">About</a></li>
      <li><a href="/contact">Contact</a></li>
    </div>
  </ul>
</nav>

<style>
  nav {
    background-color: var(--primary);

    width: 100%;
  }

  ul {
    list-style-type: none;
    margin: 0 15px;
  }

  .links {
    display: flex;
    justify-content: end;
  }

  li {
    padding: 10px 15px;
    font-family: "Montserrat_Alternates";
    color: var(--highlight);
  }
</style>
