---

---

<nav>
  <div class="search-input">
    <input type="text" placeholder="search" />
  </div>
  <ul class="links">
    <li><a href="/">Home</a></li>
    <li><a href="/aboutMe">About</a></li>
    <li><a href="/inventory">Inventory</a></li>
    <li><a href="/contact">Contact</a></li>
  </ul>
  <div class="shop-icons">
    <i class="fa-solid fa-bag-shopping"></i>
    <i class="fa-solid fa-truck"></i>
    <i class="fa-solid fa-receipt"></i>
    <i class="fa-solid fa-user"></i>
  </div>
</nav>

<style>
  @media (min-width: 425px) {
    nav {
      background-color: var(--bg-color);

      z-index: 10;

      margin-bottom: 15opx;

      min-width: 425px;
      height: 10vh;

      display: flex;
      justify-content: space-around;
      align-items: center;
    }

    input {
      border-radius: 15px;
    }

    input[placeholder] {
      text-align: center;
    }

    .search-input {
      display: none;
      /*       align-items: center;
      justify-content: center; */
    }

    ul {
      list-style-type: none;
      margin: 0 15px;
    }

    li {
      padding: 10px 15px;
      font-family: "Montserrat_Alternates";
      font-weight: 600;
      color: var(--primary);
    }

    li:hover {
      border-bottom: 2px white solid;
    }

    i {
      color: var(--primary);
    }

    .links {
      display: flex;
      justify-content: end;
    }

    .shop-icons {
      display: none;
    }
  }

  /* Tablets Hochformat */
  @media (min-width: 768px) {
    /*     h3 {
      background-color: red;
    } */

    nav {
      background-color: var(--bg-color);

      z-index: 10;

      margin-bottom: 15px;

      min-width: 768px;
      height: 10vh;

      display: flex;
      justify-content: space-around;
      align-items: center;

      background-color: rgb(255, 0, 242);
    }

    .shop-icons {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }

    input {
      display: hidden;
    }
  }

  /* Tablets Querformat & kleine Monitore */
  @media (min-width: 1024px) {
    nav {
      background-color: var(--bg-color);

      z-index: 10;

      margin-bottom: 15opx;

      min-width: 425px;
      height: 10vh;

      display: flex;
      justify-content: space-around;
      align-items: center;
    }

    .search-input {
      align-items: center;
      justify-content: center;
      display: block;
    }

    input {
      border-radius: 15px;
      display: block;
      
    }

    input[placeholder] {
      text-align: center;
    }

    .links {
      display: flex;
      justify-content: end;
    }

    .shop-icons > * {
      padding: 15px;
    }

    ul {
      list-style-type: none;
      margin: 0 15px;
    }

    li {
      padding: 10px 15px;
      font-family: "Montserrat_Alternates";
      font-weight: 600;
      color: var(--primary);
    }

    li:hover {
      border-bottom: 2px var(--primary) solid;
    }

    i {
      color: var(--primary);
    }
  }
</style>
