@font-face{
    src: url(/fonts/PlaywriteES-Regular.ttf) format('truetype');
    font-family: 'Playwrite';
    font-weight: 600;
    font-style: normal;
}

.headline-xl{
    font-size: 2rem;
    font-family: 'Playwrite';
    font-weight: 600;
    font-style: normal;
}