@media (min-width: 1280px) {}

@media (min-width:1024px) {
    /*  h3 {
        background-color: blue;
    }


    .area {
        display: flex;
        flex-direction: row;
    }

    .landing-page-para {
        background-color: blue;
        padding: 10px;

    }

    .landing-page-text-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: left;

        width: 50%;

    }

    .about {
        display: flex;
        justify-content: space-around;

    }

    .about-img {
        max-width: 40vw;
        height: auto;
    } */

    /* 1024px */

  

    .landing-page-text-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;

        width: 50%;
    }

    .about {
        border: 20px green solid;

        display: flex;
        justify-content: space-around;
    }

    .about-img {
        max-width: 500px;
        height: ;
    }

    .area {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 15px;

        text-align: center;
        height: 50vh;
    }

    .fake-grid {
        display: flex;
        flex-direction: column;

        background-color: var(--bg-color-darker);

        margin-top: 20px;
        margin-bottom: 20px;
        width: 33%;
        height: 100%;


    }

    i {
        font-size: 2rem;
        color: var(--primary);

        padding: 20px;
    }


    .corners {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    .landing-page-para {
        /* background-color: green; */
        padding: 75px;

    }

}

@media (min-width: 768px) {


    .landing-page-text-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;

        width: 50%;
    }

    .about {
        border: 20px rgb(255, 0, 242) solid;

        display: flex;
        justify-content: space-around;
    }

    .about-img {
        max-width: 500px;
        height: ;
    }

    .area {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 15px;

        text-align: center;
        height: auto;
    }

    .fake-grid {
        display: flex;
        flex-direction: column;

        background-color: var(--bg-color-darker);

        margin-top: 20px;
        margin-bottom: 20px;
        width: 33%;
        height: 100%;


    }

    i {
        font-size: 1.5rem;
        color: var(--primary);

        padding: 20px;
    }


    .corners {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    .landing-page-para {
        /* background-color: green; */
        padding: 20px;

    }


}

@media(min-width: 425px) {
    html {
        width: 100%;
    }

    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 100vw;
    }

    .landing-page-image {
        /*     background-image: url(../assets/images/chip.jpg);
    object-fit: contain;
    filter: grayscale(50%); */

        background-image: none;

        width: 100vw;
        height: 50vh;
        margin-top: 5%;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
    }


 

    

    .fake-grid>button {
        display: none;
    }

   

    .area {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 15px;

        text-align: center;

        width: 100%;
        height: auto;

    }

    .fake-grid {
        display: flex;
        flex-direction: column;

        background-color: var(--bg-color-darker);

        margin-top: 20px;
        margin-bottom: 20px;
        width: 33%;
        height: 100%;


    }

    i {
        font-size: 1.5rem;
        color: var(--primary);

        padding: 20px;
    }


    .corners {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

  
}